.subcategory-form {
    .main-input_with-label {
        margin-top: 20px;
    }
    .main-input:last-child {
        margin-top: 40px;
    }

    input[type=file] {
        margin-top: 30px;
    }
}

.servants-container {
    width: 60%;
}