@import '../../../common/styles/variables.scss';

// colors for line's gradient
// #2E68E4
// #2EEFC1

.statistics {
    margin-top: 16px;
    width: 100%;
    @extend %display-flex-row;
    flex-wrap: wrap;
    padding-bottom: 50px;
    .statistics-card {
        margin-top: 20px;
        width: 323px;
        height: 190px;
        padding: 20px 26px;
        background: #F2F2F2;
        box-shadow: 0px 13.3716px 13.3716px rgba(0, 0, 0, 0.05);
        h3, .value {
            font-weight: 600;
            font-size: 16.0459px;
            letter-spacing: 0.802294px;
            color: #222222;
        }
        .value {
            @extend %display-flex-row;
            justify-content: flex-start;
            margin-top: 20px;
        }
        canvas {
            margin-top: 20px;
        }
        .date-range {
            margin-top: 3px;
            font-weight: 600;
            font-size: 8.02294px;
            letter-spacing: 1.20344px;
            color: #444444;
        }
        .percent {
            vertical-align: top;
            font-weight: 600;
            font-size: 7.35436px;
            letter-spacing: 1.47087px;
            text-transform: uppercase;
            color: rgba(34, 34, 34, .1);
        }
    }
}

@media screen and (max-width: 768px) {
    .statistics {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    .statistics {
        overflow-x: auto;
    }
}