@import '../../../common/styles/variables.scss';

nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 116px;
    height: 100vh;
    padding: 46px 0;
    box-sizing: border-box;
    background: $menuBackgroundColor;
    border-right: 1px solid #F0F0F0;
    transition: 0.3s ease;
    overflow-y: hidden;
    z-index: 2;
    ul {
        width: 100%;
        list-style-type: none;
        @extend %display-flex-column;
        justify-content: flex-start;
        a {
            margin-top: 36px;
            padding: 12px;
            // box-sizing: border-box;
            @extend %display-flex-row;
            justify-content: space-around;
            border-radius: 100%;
            text-decoration: none;
            transition: 0.2s;
            img {
                // max-width: 40px;
                // max-height: 40px;
            }
            &:not(.active-link):hover {
                background: $menuActiveLink;
            }
            &:first-child {
                margin-top: 0;
                &:hover {
                    background: none;
                }
            }
            &:last-child {
                margin-top: 110px;
            }
            &:nth-child(2) {
                margin-top: 90px;
            }
        }
    }
}

.navigation-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.active-link {
    background: $menuActiveLink;
}


// Tablet
@media screen and (max-width: 768px) {
    nav {
        width: 84px;
    }
}


// Mobile
@media screen and (max-width: 600px) {
    nav {
        width: 100%;
        left: -100%;
    }
    .navigation-inner {
        width: 100%;
    }
}